<div class="raw container-fluid">
	<div class="container col-md-6">
		<h2 class="page-header">Безуспішні запити за останніх 10 днів</h2>
		<table class="table table-striped" *ngIf="tenDaysQueries">
			<thead>
				<th>#</th>
				<th>Текст запиту</th>
				<th><p class="text-right">Кількість запитів</p></th>
			</thead>
			<tbody>
				<tr *ngFor="let query of tenDaysQueries; let i=index">
					<td>{{i + 1}}</td>
					<td>{{query.query}}</td>
					<td><p class="text-right">{{query.count}}</p></td>
				</tr>
			</tbody>
		</table>
		<p *ngIf="!tenDaysQueries">Немає даних для відображення</p>
	</div>
	<div class="container col-md-6">
		<h2 class="page-header">Безуспішні запити за останніх 30 днів</h2>
		<table class="table table-striped" *ngIf="thirtyDaysQueries">
			<thead>
				<th>#</th>
				<th>Текст запиту</th>
				<th><p class="text-right">Кількість запитів</p></th>
			</thead>
			<tbody>
				<tr *ngFor="let query of thirtyDaysQueries; let i=index">
					<td>{{i + 1}}</td>
					<td>{{query.query}}</td>
					<td><p class="text-right">{{query.count}}</p></td>
				</tr>
			</tbody>
		</table>
		<p *ngIf="!thirtyDaysQueries">Немає даних для відображення</p>
	</div>
</div>