<div class="row" class="container-fluid">
	<div class="container col-md-6">
		<h2 class="page-header">Панель управління</h2>
		<div>
			<button type="button" class="btn btn-primary btn-block">Запустити внепланову поверхневу перевірку</button>
			<button type="button" class="btn btn-primary btn-block">Запустити внепланову глибоку перевірку</button>
			<button type="button" class="btn btn-default btn-block">Зупинити поточну перевірку</button>
		</div>
		<div>
			<table class="table table-striped">
				<caption>Правила планування</caption>
				<thead>
					<th>Правило</th>
					<th>Активне</th>
					<th>Вилучити</th>
				</thead>
				<tbody>
					<tr>
						<td>Кожного тижня (Вівторок 10:10)</td>
						<td><input type="checkbox"></td>
						<td>
							<a>
								<span class="glyphicon glyphicon-remove"></span>
							</a>
						</td>
					</tr>
					<tr>
						<td>Кожного тижня (Неділя 7:00)</td>
						<td><input type="checkbox"></td>
						<td>
							<a>
								<span class="glyphicon glyphicon-remove"></span>
							</a>
						</td>
					</tr>
				</tbody>
			</table>
			<button type="button" class="btn btn-primary btn-block">Додати нове правило</button>
		</div>
	</div>
	<div class="container col-md-6">
		<h2 class="page-header">Панель статистики</h2>
		<div *ngIf="report">
			<h3>Загальний підсумок</h3>
			<table class="table table-striped">
				<tbody>
					<tr>
						<td>Кількість перевірок за період</td>
						<td>{{report.summary.checkCount}}</td>
					</tr>
					<tr>
						<td>Кількість провалених перевірок</td>
						<td>{{report.summary.failedCheckCount}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>