<div class="row" class="container-fluid">
	<div class="container col-md-6">
		<h2 class="page-header">Загальна статистика за 30 днів</h2>
		<div *ngIf="report">
			<h3>Загальна статистика запитів</h3>
			<table class="table table-striped">
				<tbody>
					<tr>
						<td>Загальна кількість запитів</td>
						<td>{{report.summary.requestsCount}}</td>
					</tr>
					<tr>
						<td>Кількість запитів з мобільного</td>
						<td>{{report.summary.mobileCount}}</td>
					</tr>
					<tr>
						<td>Кількість запитів з планшету</td>
						<td>{{report.summary.tabletCount}}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div *ngIf="report">
			<h3>Статистика по мобільним платформам</h3>
			<table class="table table-striped" *ngIf="report.mobilePlatforms.length > 0">
				<thead>
					<th>Тип платформи пристрої</th>
					<th>Кількість запитів</th>
				</thead>
				<tbody>
					<tr *ngFor="let device of report.mobilePlatform">
						<td>{{device.type}}</td>
						<td>{{device.requestsCount}}</td>
					</tr>
				</tbody>
			</table>
			<p *ngIf="report.mobilePlatforms.length == 0">Немає даних для відображення</p>
		</div>
	</div>
	<div class="container col-md-6">
		<h2 class="page-header">Геостатистика за 30 днів</h2>
		<sebm-google-map [latitude]="mapStartLatitude" [longitude]="mapStartLongitude">
  			<sebm-google-map-marker *ngFor="let marker of mapMarkers" 
  				[label]="marker.label" [latitude]="marker.latitude" [longitude]="marker.longitude">		
  			</sebm-google-map-marker>
		</sebm-google-map>
		<div *ngIf="report">
			<h3>Геостатистичні дані</h3>
			<table class="table table-striped" *ngIf="report.geolocations.length > 0">
				<thead>
					<th>Місто</th>
					<th>Регіон</th>
					<th>Країна</th>
					<th>Широта</th>
					<th>Довгота</th>
					<th>Кількість запитів</th>
				</thead>
				<tbody>
					<tr *ngFor="let location of report.geolocations">
						<td>{{location.city}}</td>
						<td>{{location.region}}</td>
						<td>{{location.country}}</td>
						<td>{{location.latitude}}</td>
						<td>{{location.longitude}}</td>
						<td>{{location.requestsCount}}</td>
					</tr>
				</tbody>
			</table>
			<p *ngIf="report.geolocations.length == 0">Немає даних для відображення</p>
		</div>
	</div>
</div>