<div class="row" class="container-fluid">
	<div class="container col-md-6">
		<h2 class="page-header">Панель управління</h2>
		<h3>Поточний статус: {{currentServiceStatus}}</h3>
		<hr>
		<div>
			<button type="button" class="btn btn-primary btn-block" (click)="callCheckManually()">Запустити внепланову перевірку</button>
			<button type="button" class="btn btn-default btn-block" (click)="disableCurrentActiveCheck()">Зупинити поточну перевірку</button>
		</div>
		<div>
			<table class="table table-striped">
				<caption>Правила планування</caption>
				<thead>
					<th>Правило</th>
					<th>Активне</th>
					<th>Вилучити</th>
				</thead>
				<tbody>
					<tr *ngFor="let rule of registeredRules">
						<td>{{humanReadableRule(rule)}}</td>
						<td><input type="checkbox" [(ngModel)]="rule.active"></td>
						<td>
							<a (click)="removeRule(rule)">
								<span class="glyphicon glyphicon-remove"></span>
							</a>
						</td>
					</tr>
				</tbody>
			</table>
			<button type="button" class="btn btn-primary btn-block" (click)="schedulerRuleModal.show()">Додати нове правило</button>
			<!-- Scheduler rule modal-->
			<!--
			<div class="modal fade" bsModal #schedulerRuleModal="bs-modal" [config]="{backdrop: 'static'}"
			     tabindex="-1" role="dialog" aria-labelledby="schedulerRuleModalLabel" aria-hidden="true">
			  	<div class="modal-dialog modal-lg">
			    	<div class="modal-content">
			      		<div class="modal-header">
			        		<button type="button" class="close" aria-label="Close" (click)="schedulerRuleModal.hide()">
			          			<span class="glyphicon glyphicon-remove" area-hidden="true"></span>
			        		</button>
			        	<h4 class="modal-title">Створення нового правила</h4>
			      </div>
			      <div class="modal-body">
			        <form class="form-horizontal" (ngSubmit)="submitNewRule(); schedulerRuleModal.hide()">
			        	<div class="form-group">
			        		<div class="col-sm-12">
			        			<label for="formRuleType">Виберіть тип правила</label>
			        			<select id="formRuleType" class="form-control" required [(ngModel)]="newRule.type" name="type">
			        				<option *ngFor="let type of ruleTypes" [ngValue]="type">{{type.name}}</option>
			        			</select>
			        		</div>
			        	</div>
			        	<div class="form-group">
			        		<div class="col-sm-12">
			        			<label for="ruleDayOfTheWeek">Виберіть день тижня</label>
			        			<select id="ruleDayOfTheWeek" class="form-control" [(ngModel)]="newRule.dayOfWeek" name="dayOfWeek">
			        				<option *ngFor="let day of daysOfWeek" [ngValue]="day">{{day.name}}</option>
			        			</select>
			        		</div>
			        	</div>
			        	<div class="form-group">
			        		<div class="col-sm-12">
			        			<label for="ruleTimepicker">Виберіть час</label>
			        			<div id="ruleTimepicker" class="row">
			        				<div class="col-sm-6">
			        					<input type="text" [(ngModel)]="newRule.hours" name="hours" 
			        						placeholder="Години" class="form-control">
		        					</div>		
			        				<div class="col-sm-6">
			        					<input type="text" [(ngModel)]="newRule.minutes" name="minutes"
			        						placeholder="Хвилини" class="form-control">
			        				</div>
			        			</div>
			        		</div>
			        	</div>
			-->
			        	<!--
			        	<div class="form-group">
			        		<div class="col-sm-12">
			        			<label>Виберіть дату</label>
			        		</div>
			        	</div>
			        	-->
			<!--
			        	<input type="submit" class="btn btn-primary btn-block"  
			        		value="Зберегти правило">
			        </form>
			      </div>
			    </div>
			  </div>
			</div>
			-->
		</div>
	</div>
	<div class="container col-md-6">
		<h2 class="page-header">Панель статистики</h2>
		<div *ngIf="report">
			<h3>Загальний підсумок</h3>
			<table class="table table-striped">
				<tbody>
					<tr>
						<td>Кількість перевірок за період</td>
						<td>{{report.summary.total}}</td>
					</tr>
					<tr>
						<td>Кількість успішних посилань</td>
						<td style="color:green;">{{report.summary.ok}}</td>
					</tr>
					<tr>
						<td>Кількість помилкових посилань</td>
						<td style="color:red;">{{report.summary.error}}</td>
					</tr>
					<tr>
						<td>Кількість недоступних посилань</td>
						<td style="color:red;">{{report.summary.unreachable}}</td>
					</tr>
					<tr>
						<td>Кількість посилань з перенаправленням</td>
						<td style="color:blue;">{{report.summary.redirect}}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div *ngIf="report">
			<h3>Детальна інформація</h3>
			<div *ngIf="(report.details) && (report.details.length > 0)">
				<table  class="table table-striped">
					<thead>
						<th>Ід. перевірки</th>
						<th>Час початку</th>
						<th>Час закінчення</th>
						<th>Загальна кіл-ть посилань</th>
						<th style="color:green;">Кіл-ть посилань з статусом OK</th>
						<th style="color:red;">Кіл-ть посилань з статусом ERROR</th>
						<th style="color:red;">Кіл-ть посилань з статусом UNREACHABLE</th>
						<th style="color:blue;">Кіл-ть посилань з статусом REDIRECT</th>
						<th></th>
					</thead>
					<tbody>
						<tr *ngFor="let detail of report.details">
							<td>{{detail.id}}</td>
							<td>{{detail.start}}</td>
							<td>{{detail.end}}</td>
							<td>{{detail.total}}</td>
							<td style="color:green;">{{detail.ok}}</td>
							<td style="color:red;">{{detail.error}}</td>
							<td style="color:red;">{{detail.unreachable}}</td>
							<td style="color:blue;">{{detail.redirect}}</td>
							<td><a [routerLink]="['details/'+detail.id]">Детальніше</a></td>
						</tr>
					</tbody>
				</table>
			</div>
			<p *ngIf="(!report.details) || (report.details == 0)">Немає даних для відображення</p>
		</div>
	</div>
</div>