<div class="container">
	<h1>{{title}}</h1>
	<p>{{description}}</p>
</div>
<div>
	<nav class="navbar navbar-default">
	<div class="container-fluid">
		<ul class="nav navbar-nav">
		<!--
			<li routerLinkActive="active"><a [routerLink]="['/dashboard']"><span class="glyphicon glyphicon-th"></span> Dashboard</a></li>
			-->
			<li routerLinkActive="active"><a [routerLink]="['/links']"><span class="glyphicon glyphicon-random"></span> Перевірка посилань</a></li>
			<li routerLinkActive="active"><a [routerLink]="['/users']"><span class="glyphicon glyphicon-user"></span> Інформація про користувачів</a></li>
			<li routerLinkActive="active"><a [routerLink]="['/mobile']"><span class="glyphicon glyphicon-phone"></span> Мобільні додатки</a></li>
			<li routerLinkActive="active"><a [routerLink]="['/helps']"><span class="glyphicon glyphicon-comment"></span> Допомога порталу</a></li>
		<!--
			<li routerLinkActive="active"><a [routerLink]="['/monitoring']"><span class="glyphicon glyphicon-eye-open"></span> Monitoring</a></li>
		-->
			<li routerLinkActive="active"><a [routerLink]="['/search']"><span class="glyphicon glyphicon-search"></span> Пошук порталу</a></li>
			<li routerLinkActive="active"><a [routerLink]="['/settings']"><span class="glyphicon glyphicon-cog"></span> Налаштування</a></li>
		</ul>
	</div>
	</nav>
	<div>
		<router-outlet></router-outlet>
	</div>
<div>
