<div class="row" class="container-fluid">
	<div class="container col-md-6">
		<h2 class="page-header">Локальні налаштування</h2>
		<div *ngIf="localSettings">
			<table class="table table-striped">
				<thead>
					<th>Назва налаштування</th>
					<th>Встановлене значення</th>
				</thead>
				<tbody>
					<tr *ngFor="let s of localSettings">
						<td>{{s.label}}</td>
						<td>{{s.value}}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<p *ngIf="!localSettings">Немає налаштувань для відображення</p>
	</div>
	<div class="container col-md-6">
		<h2 class="page-header">Глобальні налаштування</h2>
		<div *ngIf="globalSettings">
			<table class="table table-striped">
				<thead>
					<th>Назва налаштування</th>
					<th>Встановлене значення</th>
				</thead>
				<tbody>
					<tr *ngFor="let s of globalSettings">
						<td><p>{{s.label}}</p></td>
						<td><p>{{s.value}}</p></td>
						<td><span class="btn btn-default btn-sm glyphicon glyphicon-edit" (click)="editSetting(s)"></span></td>
					</tr>
				</tbody>
			</table>
		</div>
		<p *ngIf="!globalSettings">Немає налаштувань для відображення</p>
	</div>
</div>