<div class="row" class="container-fluid">
	<div class="container col-md-6">
		<h2 class="page-header">Налаштування</h2>
		<div *ngIf="settings">
			<table class="table table-striped">
				<thead>
					<th>Назва налаштування</th>
					<th>Встановлене значення</th>
				</thead>
				<tbody>
					<tr *ngFor="let s of settings">
						<td>{{s.name}}</td>
						<td>{{s.value}}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<p *ngIf="!settings">Немає налаштувань для відображення</p>
	</div>
</div>